@import "assets/scss/variables.scss";
@import "assets/scss/mixins.scss";

.page_tabs{
    background-image:url('../../../assets/img/ct.jfif') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height:840px;
    padding: 10px  60px 0px 60px;
    position: relative;
    @include ipadpro{
        height: 52vh;
        width: 100%;
        padding:20px 10px;
    }
    @include ipad{
        height:90vh;
    }
    @include xs{
      padding-top: 10px;
        height:1000px;
    }
    .nav_tabs{
        position: relative;
        z-index: 1;
        color: $white_color;
        .ant-tabs-nav::before{
            border-bottom:unset !important;
        }
       .ant-tabs-nav{
        @include ipadpro{
         padding: 0px 40px;
          
        }
          
       }
    }
    .ant-tabs-content-holder{
        @include ipadpro{
            width: 100%;
        }
        .ant-tabs-content{
            @include ipadpro{
                height: 40vh;
                width: 100%;
                padding: 0px 0px 0px 35px;
                margin-top: 10px;
            }
            @include ipad{
                height: 80vh;
            }
            @include xs{
                padding: 0px 0px 0px 12px;
                height: 880px;
            }
            .ant-tabs-tabpane{
                @include ipadpro{
                    height: 40vh;
                    width: 100%;
                }
                @include xs{
                    height: 860px;
                }
                .items{
                    z-index: 1;
                    width: 100%;
                    padding: 0px 30px;
                    height: 700px;
                    @include ipadpro{
                     height: 28vh;
                     width: 100%;
                     padding:0px 20px;
                      }
                      @include ipad{
                          height: 70vh;
                      }
                      @include xs{
                          height: 850px;
                      }
                   .items_tabs{
                    margin-top: 20px;
                    width: 100%;
                    height:320px;
                    position: relative;
                    @include ipadpro{
                        height: 20vh;
                        width: 40px;
                        margin-top: 0px;
                     }
                     @include xs{
                         height: 185px;
                     }
                   
                       .items_picture{
                           position: absolute;
                           left: 50%;
                           transform: translate(-50%);
                           @include ipadpro{
                            position: unset;
                            left: unset;
                            transform: unset;
                           }
                           .picture img{
                              display: block;
                              width: 100%;
                              height: 225px; 
                              border-top-left-radius: 20px;
                              border-top-right-radius: 20px;
                              @include ipadpro{
                                height: 12vh;
                                padding: 0px;
                                width: 100%;
                               }
                               @include ipad{
                                   height: 15vh;
                               }
                               @include xs{
                                   height: 125px;
                               }
                               
                           }
                           .picture:hover >  .overlow {
                                width: 200%;
                           }
                           .overlow{
                            content: '';
                            display: block;
                            background-color: rgba(0, 0, 0, 0.4);
                            position: absolute;               
                            top: 0;
                            left: 0;
                            width:0;
                            height: 200%;
                            transform: skew(35deg);
                            transition: all .5s;                                
                        }
                           .picture:hover > .btn-picture{
                               opacity: 1;
                           }
                           .picture{
                              width: 210px;
                              height: 290px;
                              padding:10px 4px 4px 10px;
                              box-shadow: 5px 5px 5px $white_color inset, 5px 5px 5px $white_color;
                              border-radius: 20px;
                              background-color: #000;
                              position: relative;
                              overflow: hidden;
                              @include ipadpro{
                                height: 16.5vh;
                                width: 150px;
                              }
                              @include ipad{
                                  height: 20vh;
                                  margin-left: 11px;
                              }
                              @include xs{
                                  margin: 0px 15px 0px 0px;
                                 width:  130px;
                                 height: 182px;
                              }
                              h5{
                                  color: $white_color;
                                  text-align: center;
                                  font-size: 18px;
                                  margin-top: 8px;
                                  @include ipadpro{
                                    font-size: 16px;
                                  }
                                  @include xs{
                                      font-size: 14.5px;
                                  } 
                              }
                              .btn-picture{
                                  background-color: $white_color;
                                  width: 170px;
                                  height: 40px;
                                  border: unset;
                                  position: absolute;
                                  bottom: 3%;
                                  left: 10.5%;
                                  z-index: 2;
                                  box-shadow: 0;
                                  opacity: 0;
                                 transition: all 0.5s;
                                 border-radius: 12px;
                                 color: #000;
                                 font-weight: bold;
                                 font-size: 22px;
                                 @include ipadpro{
                                    width: 120px;
                                    height: 35px;
                                    font-size:18px;
                                    padding-bottom: unset;
                                    left: 12%;
                                 }
                                 padding-bottom: 10px;
                                 @include xs{
                                    width: 100px;
                                    height: 30px;
                                    font-size:15px;
                                    padding-bottom: unset;
                                    left: 14%;
                                 }
                              }                       
                           }       
               
                       }
                   }
                }
            }
        }
    }
}
.page_tabs::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);

}
.ant-tabs-tab-btn{
    font-size: 25px;
    font-weight: bold;
    @include xs{
        font-size: 20px;
    } 
    
}
.ant-tabs > .ant-tabs-nav{
 @include ipadpro{
 margin-top: 10px;
 }
    
}

.ant-tabs > .ant-tabs-nav .ant-tabs-nav-list{
    left: 6% !important;
    @include ipadpro{
        left: 3% !important; 
    }
    @include xs{
      left: 2% !important;
    }
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: $pink_color;
    border-bottom: unset !important;
    font-size: 27px;
    @include xs{
        font-size: 20px;
    } 
}
.ant-tabs-tab:hover{
    color: $pink_color !important;
}
.ant-tabs-tab-btn:active{
    color: $pink_color;
    
}
.ant-tabs-ink-bar {
background: unset;
}
