@import "assets/scss/variables.scss";
@import "assets/scss/mixins.scss";


.banner{
    background-image:url('../../../assets/img/a2.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 650px;
    width: 100%;
    position: relative;
    @include ipadpro{
    height: 42vh;
    width: 100%;
    }
    @include ipad{
    height: 46vh;
    }
    @include xs{
        height: 330px;
    }
    .items{
        width: 100%;
        padding: 0px 100px;
        position: absolute;
        bottom: -5%;
        left:50%;
        transform: translateX(-50%);
        z-index: 2;
        @include ipad{
        padding: 0px 50px;
        }
        @include xs{
         padding: 0px 3px 0px 0px;
         bottom: 0%;
        }
       
        .item_banner{
            width: 100%;
            height: 80px;
            display: flex;
            align-items: center;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
            background-color: #fff;
            border-radius: 10px;
            padding-top: 10px;
            @include ipad{
                height: 70px; 
            }
            @include xs{
                height: 52px;
            }
            .book-seat{
               position: relative;
               height: 70px;
                button{
                 position: absolute;
                 left: 50%;
                 top:50%;
                 transform: translate(-35%,-40%);
                 border: unset;
                 font-weight: bold;
                 background-color: #666666;
                 width: 145px;
                 height: 40px;
                 border-radius: 10px;
                 &:hover{
                     color: $pink_color;
                 }
                 @include ipadpro {
                    position: absolute;
                    left: 50%;
                    top:50%;
                    transform: translate(-50%,-40%);                                           
                } 
                @include ipad{
                 width: 120px;
                 height: 40px;
                 position: absolute;
                 left: 50%;
                 top:50%;
                 transform: translate(-55%,-40%);  
                }
                @include xs{
                 width: 50px;
                 height: 30px;
                 font-size: 11px;
                 line-height: 10px;
                 position: absolute;
                 left: 50%;
                 top:50%;
                 transform: translate(-55%,-40%); 
                }
                }
            }
            .form-group{
                width: 100%;
               .form-control:hover{
                 color: $pink_color;  
               }
                .form-control{
                    border: none;
                    background-color: unset;
                    min-height: 10px;
                    position: relative;
                    z-index: 2;
                    color: #000;
                    font-weight: bold;
                    margin-top: 3px;
                    cursor: pointer;
                    option{
                        color: #fff;
                        background-color: black;          
                    }
                    @include xs{
                        font-size: 11px;
                        width:80px;
                        padding: 0px 2px;
                    }
                    
                }
                .form-control:focus{
                    outline: none;
                    box-shadow: unset;
                }
            }
        }
    }
   
}
.banner::after{
    content: '';
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

