@import "assets/scss/variables.scss";
@import "assets/scss/mixins.scss";

.formMovie{
    width: 100%;
    height: 100;
    display: flex;
    justify-content: center;
    align-items: center;
   background-image: url('../../../assets/img/bg1.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 140vh;
   @include ipadpro{
       height: 80vh;
   }
   @include ipad{
       height: 110vh;
   }
   @include xs{
       height: 130vh;
   }
   
   .movieRegister{
       background: #000;
       box-shadow: 0px 0px 5px 5px rgb(34, 32, 32) ;
       width: 360px;
       height: 87vh;
       padding: 0px 30px 5px;
       border-radius: 8px;
       @include ipadpro{
           height: 48vh;
           width: 380px;
       }
       @include ipad{
           height: 62vh;
       }
       @include xs{
        width: 330px;
        height: 75vh;
    }
       h6{
        color: $pink_color;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        margin-top: 20px;
    }
       .formItem{
         .formGroup{
            max-height: 65px;
            margin-top: 22px;

           }
       }
       button{
        margin-top: 35px;
        background-color: $pink_color;
        border: none;
        border-radius: 16px;
        font-weight: bold;
        color: #fff;
        @include ipadpro{
            font-size: 20px;
        }
    }
   }
}
.formAccount{
    background-color:unset !important;
    border: unset !important;
    border-bottom: 2px solid #fff !important;
    outline: none !important;
    box-shadow: unset !important;

}
.formText{
    color: red !important;
}
.nameInput{
    color: #fff;
    font-size: 18px;
    @include ipadpro{
        font-size: 20px;
    }
 }
